.details{

width:90%;
margin:60px auto;

display:flex;
gap:50px;
align-items:center;

}


.details img{

width:450px;
height:450px;
object-fit:cover;
border-radius:15px;

}


.info h1{

font-size:40px;
color:#01411C;

}


.info h2{

margin:20px 0;
color:#01411C;

}


.info p{

font-size:18px;
line-height:1.6;

}


.info button{

margin-top:25px;
padding:15px 40px;

background:#01411C;
color:white;

border:none;
border-radius:8px;

font-size:18px;

}